body {
    background-color: antiquewhite;
    font-size: 3rem;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
}

.container {
    padding: 15px;
}


h1 {
    font-size: 14px;
    text-transform: uppercase;
}

hr {
    border-top: 1px grey solid;
}

.heading {
    color: rgba(78, 78, 78, 0.722);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.heading #left, .heading #right {
    width: 44%;

}

.heading #center {
    position: relative;
}

.heading #center:after {
    content: "C";
    position: absolute;
    color: rgb(185 176 136 / 50%);
    top: -8px;
    left: 28px;
    z-index: -1;
    font-size: 44px;
    font-weight: 800;
}


.gridbox {
    display: grid;
    gap: 15px;
    height: 500px;

}

.griditem {
    background-color: brown;
    border: 1px white solid;
    height: 300px;

}

.item {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.rotate {
    transform: rotateY(180deg);
}


.item-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#item1 .item-front {
    background-image: url('../assets/bolso.jpg');
}

#item2 .item-front {
    background-image: url('../assets/maleta.jpg');
}

#item3 .item-front {
    background-image: url('../assets/cartera.jpg');
}

#item4 .item-front {
    background-image: url('../assets/mochila.jpg');
}

#item5 .item-front {
    background-image: url('../assets/complemento.jpg');
}

.item-back {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    background-image: none;
    background-color: brown;
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.title {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 0px 5px black;
}

.subtitle {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    border: 1px white solid;
    padding: 6px 9px 6px 9px;
    background-color: #00000069;
    
}

.subtitle:hover {
    background-color: brown;
}

.rotate {
    transform: rotateY(180deg);
}

@media (min-width: 600px) {


.container {
    padding: 30px 45px 45px 45px;
}

.gridbox {

    grid-template-columns: auto auto auto;
    gap: 10px;
}

#item1 {
    grid-row: 1/3;
}

#item2 {
    grid-column: 2/4;
}

#item4 {
    grid-column: 3/4;
    grid-row: 2/4;
}

#item5 {
    grid-column: 1/3;
}

.griditem {
    height: auto;
}

}